In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
PATH = os.getcwd()
PATH

'C:\\Users\\rpandiniboyini\\Downloads\\Kaligia\\Untitled Folder 1\\PolynomialLieanrRegresion'

In [3]:
InputData = PATH + "\\trainingdata.txt"

In [13]:
import re

df_list = []
with open(InputData) as f:
    for line in f:
        # remove whitespace at the start and the newline at the end
        line = line.strip()
        # split each column on whitespace
        columns = re.split('\s+', line, maxsplit=2)
        df_list.append(columns)

In [14]:
df = pd.DataFrame(df_list)
df.head()

      0     1       2
0  0.44  0.68  511.14
1  0.99  0.23   717.1
2  0.84  0.29  607.91
3  0.28  0.45   270.4
4  0.07  0.83  289.88

In [15]:
df = df.rename(columns={0: "a", 1: "b", 2: "c"})
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [16]:
df.head()

      a     b       c
0  0.44  0.68  511.14
1  0.99  0.23   717.1
2  0.84  0.29  607.91
3  0.28  0.45   270.4
4  0.07  0.83  289.88

In [21]:
y=df['c']
x=df.drop(['c'], axis=1)

In [24]:
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
polynomial_features= PolynomialFeatures(degree=2)
x_poly = polynomial_features.fit_transform(x)

model = LinearRegression()
model.fit(x_poly, y)
y_poly_pred = model.predict(x_poly)
for i in range(len(y)):
    print(round(y_poly_pred[i],2))

506.58
720.84
611.68
258.06
286.45
839.53
1044.98
459.54
643.06
518.03
174.7
1241.4
891.4
1321.88
166.18
271.24
521.59
532.04
934.52
844.76
650.61
299.15
1045.88
327.27
161.03
112.81
356.64
883.48
297.57
244.98
337.32
1183.85
405.58
905.8
532.02
644.39
297.15
157.71
242.36
1433.55
601.4
167.2
602.06
359.06
677.02
1198.8
270.72
412.41
76.7
164.26
81.62
650.14
366.72
705.37
623.64
142.69
114.26
323.6
201.57
1349.31
908.54
480.59
195.33
198.87
142.45
748.64
506.07
1530.15
161.87
436.64
103.01
833.31
163.53
483.15
532.56
574.76
967.23
514.88
1152.32
1218.84
789.98
276.09
690.99
724.05
286.26
773.54
132.15
794.27
318.85
732.1
669.22
782.91
1027.91
227.85
320.35
632.38
262.43
702.28
432.39
596.56

# Test data

In [27]:
InputData1 = PATH + "\\test.txt"
import re

df_list = []
with open(InputData1) as f:
    for line in f:
        # remove whitespace at the start and the newline at the end
        line = line.strip()
        # split each column on whitespace
        columns = re.split('\s+', line, maxsplit=2)
        df_list.append(columns)
        
df = pd.DataFrame(df_list)
df = df.rename(columns={0: "a", 1: "b", 2: "c"})
df.head()

      a     b
0  0.05  0.54
1  0.91  0.91
2  0.31  0.76
3  0.51  0.31

In [31]:
x=df[['a','b']]

x_poly = polynomial_features.fit_transform(x)
y_poly_pred = model.predict(x_poly)
for i in range(4):
    print(round(y_poly_pred[i],2))

170.97
1303.88
438.78
339.25

# HackerRank code

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
# Import libraries
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
import numpy as np

# Set data
#1st row will b 2 100 means 2 features and 1000 rows-so below helps to split rows & features
features, rows = map(int, input().split())
#print(features,rows)#prints number of features & rows

X, Y = [], []

# Get the parameters X and Y for discovery the variables a and b
for i in range(rows):
    
    x = [0]
    #below cretaes a list with 3 variables-feature1value,feature2value,targetvalue
    elements = list(map(float, input().split()))
    #print(elements)
    for j in range(len(elements)):
        if j < features: # j starts from 0 and features value is 2,so we get forst two columns appended to x always and 3rd column values are appended to Y
            x.append(elements[j])
            
        else:
            Y.append(elements[j])
    X.append(x) # X will have all the list of input features from row 0-99
#print(X)
# Set Polynomial Features
poly = PolynomialFeatures(degree=3)

# Set the model LinearRegression
model = linear_model.LinearRegression()
model.fit(poly.fit_transform(np.array(X)), Y)

# Get the parameters X for discovery the Y
new_rows = int(input())
new_X = []
for i in range(new_rows):
    x = [0]
    elements = list(map(float, input().split()))
    for j in range(len(elements)):
        x.append(elements[j])
    new_X.append(x)

# Gets the result and show on the screen
result = model.predict(poly.fit_transform(np.array(new_X)))
for i in range(len(result)):
    print(round(result[i],2))